
@media screen and (max-width:767px)
{
    ul {
        padding-inline-start: 4px;
    }
}

pre {
    color:unset !important;
    font-size:unset !important;
}

code {
    background:unset !important;
}